#allprograms {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_myprograms.jpg) top center no-repeat;
}

#allprograms #banner	{
	width: 500px;
	height: 118px;
	top: 62px;
	left: 675px;
	padding: 30px 15px;
	position: absolute;
}

#allprograms #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: right;
	position: relative;
	text-align: left;
}

#allprograms #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#allprograms #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#allprograms #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#allprograms #label	{
	width: 614px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#allprograms #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#allprograms #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#allprograms #selections	{
	width: 600px;
	height: 322px;
	margin: 280px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#allprograms #selections ul {
	list-style-type: none;
}

#allprograms #selections a	{
	width: 580px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 20px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#allprograms #selections a.active, #allprograms #selections a:active, #allprograms #selections a.selected {
	background-color: #d36112;
}

#allprograms #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 10px 0;
	float: none;
	display: block;
	position: relative;
}

#allprograms #buttons {
	width: 600px;
	height: 105px;
	margin: 615px 0px 0px 26px;
	position: absolute;
}

#allprograms #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#allprograms #buttons a.active, #allprograms #buttons a:active {
	background-color: #d36112;
}

#allprograms #buttons a#prev, #allprograms #buttons a#next {
    width: 280px;
}

#allprograms #buttons a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 240px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 170px;
	background-color: #318bc8;
}



#allprograms #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#allprograms.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#allprograms #background.textoverlay {
	opacity: 0.1; 
}

#allprograms #selection	{
	width: 585px;
	height: 390px;
	top: 269px;
	left: 630px;
	float: left;
	display: inline-block;
	position: absolute;
    background-color: rgba(37,92,135,0.7);
	border: 4px solid #d36112;
	border-radius: 20px;   
	-moz-border-radius: 20px;   
	-webkit-border-radius: 20px;
	display: none;
}

#allprograms #selection #subselections	{
	width: 572px;
	height: 312px;
	margin: 6px 0 0 0px;
	color: rgba(255,255,255,1.00);
	overflow: hidden;
}

#allprograms #selection #subselections a	{
	width: 550px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 35px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#allprograms #selection #subselections a.selected {
    background: url(../images/checkmark.png) top left no-repeat;
}

#allprograms #selection #subselections a.active, #allprograms #selection #subselections a:active	{
	background-color: #d36112;
}

#allprograms #selection #subselections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 10px 0;
	float: none;
	display: block;
	position: relative;
}

#allprograms #selection #subbuttons {
	width: 585px;
	height: 34px;
	margin: 25px 0px 0px 0px;
	position: absolute;
}

#allprograms #selection #subbuttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#allprograms #selection #subbuttons a.active, #allprograms #selection #subbuttons a:active	{
	background-color: #d36112;
}

#allprograms #selection #subbuttons a#subnext, #allprograms #selection #subbuttons a#subprev {
	width: 270px;
}

