#dialog {

}

#dialog #close {
}

#dialog #content {
	margin-top: 250px;
	width: 800px;
	background-color: #1e77ae;
	padding: 0;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color: #ffffff;
}

#dialog #content #header {
	height: 32px;
	padding: 5px;
}

#dialog #content #body {
	margin-top: 30px;
}

#dialog #content #icon {
	background: url(../images/logo_kp.png) left top no-repeat;
	width: 128px;
	height: 128px;
	float: left;
}

#dialog #content #message {
	float: left;
	font-size: 32px;
	color: #ffffff;
	padding: 20px 20px 50px 50px;
	width: 600px;
}
