/* dineintro panel */
#dineintro {
	background: url(../images/bk_hires_1242x768_200_dine1.jpg) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
}

#dineintro p span {
    color: #ffff66;
}

#dineintro #banner {
    position: absolute;
    width: 100%;
    height: 220px;
	
}

#dineintro #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 70px;
}

#dineintro #selection {
    position: absolute;
    height: 548px;
    width: 100%;
    top: 220px;
    text-align: center;
}

#dineintro p {
    line-height: 40px;
}

#dineintro p#patient {
    font-size:45px;
    margin-top:20px;
}

#dineintro p#info {
    font-size: 40px;
    margin-top: 70px;
}

#dineintro p#notme {
    font-size: 28px;
    margin-top: 50px;
}

#dineintro #buttons {
    position: absolute;
	
    top: 450px;
    left: 80px;
}

#dineintro #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 20px;
	color: rgba(255,255,255,1.00);
}

#dineintro #buttons a#confirm {
    background: #669900;
}

#dineintro #buttons a#confirm:active, #dineintro #buttons a#confirm.active {
	background-color: #d36112;
}
