
#dinesandwich {
	background: url(../images/bk_hires_1242x768_200_dine2.jpg) top center no-repeat;
	
}

#dinesandwich #banner	{
    position: absolute;
    width: 100%;
    height: 75px;
}

#dinesandwich #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 5px;
}

#dinesandwich #banner #course {
	font-size: 36px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 35px 0px 0px 45px;
}

#dinesandwich #banner p	{
	font-size: 30px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 0px 0px 0px 45px;
}

#dinesandwich #banner p span	{
	font-size: 32px;
	color: #ffff66;
}
}
#dinesandwich #banner p span.small	{
	font-size: 26px;
}

#dinesandwich #nutrientstab {
	background: url(../images/btn_dine_nutrientstab.png) top center no-repeat;
	width: 315px;
	height: 105px;
	margin: 110px 0px 0px 900px;
	position: absolute;
}

#dinesandwich #nutrientstab #nlabel {
	width: 290px;
	font-size: 22px;
	color: #CCFFFF;
	text-align: right;
	margin-top: 10px;
}

#dinesandwich #nutrientstab #nutrient {
	width: 290px;
	font-size: 16px;
	line-height: 20px;
	color: #CCFFFF;
	text-align: right;
	
}

#dinesandwich #nutrientstab #totalcarbs {
	width: 290px;
	font-size: 22px;
	line-height: 28px;
	color: #FFFF66;
	text-align: right;
}

#dinesandwich #nutrientstab  #maxlabel {
	font-size: 22px;
	line-height: 26px;
	color: #CCFF99;
	float: left;
	margin-left: 25px;
}

#dinesandwich #nutrientstab #max {
	width: 290px;
	font-size: 22px;
	line-height: 24px;
	color: #CCFF99;
	text-align: right;
}

#dinesandwich #nutrientstab #itemlabel {
	width: 290px;
	font-size: 24px;
	line-height: 24px;
	color: #CCFFFF;
	text-align: right;
	margin: -50px 0px 0px -571px;
}



#dinesandwich #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#dinesandwich #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#dinesandwich #label	{
	width: 614px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#dinesandwich #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#dinesandwich #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}

#dinesandwich #selections {
    position: absolute;
    width: 1280px;
	min-height: 60px;
	margin: 225px 0px 0px 0px;
	float: left;
	position: relative;

}

#dinesandwich #selections a	{
	width: 415px;
	height: 30px;
	font-size: 30px;
	line-height: 60px;
	margin: 25px 0px 0px 8px;
	float: left;
	text-align: left;
	position: relative;
	color: #ffffff;	
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#dinesandwich #selections p	{
	line-height: 50px;
	position: absolute;
	margin: 10px 0px 0px 100px;
}
#dinesandwich #selections a.active, #dinesandwich #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#dinesandwich #selections a.selected {
    background: url(../images/checkmark.png) top left no-repeat;
}

#dinesandwich #selections a.selected.active {
    background: url(../images/checkmark.png) top left no-repeat;
	background-color: #d36112;

}




#dinesandwich #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}


#dinesandwich #tabs {
	width: 1280px;
	height: 55px;
	margin: 160px 0px 0px 5px;
	position: absolute;
}

#dinesandwich #tabs a {
	height: 55px;
	width: 275px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px 18px 0px 0px;
	border-radius: 18px 18px 0px 0px; 
}


#dinesandwich #tabs a.active, #dinesandwich #tabs a:hover	{
	background: rgba(141,198,60,1.00);
}

#dinesandwich #buttons {
	width: 1280px;
	height: 105px;
	margin: 671px 0px 0px 26px;
	position: absolute;
}

#dinesandwich #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}


#dinesandwich #buttons a.active, #dinesandwich #buttons a:active	{
	background-color: #d36112;
}

#dinesandwich #buttons a#order {
    background: #669900;
	width: 240px;
}

#dinesandwich #buttons a#back {
    width: 240px;
}

#dinesandwich #buttons a#view {
    width: 240px;
	margin-left: 600px;
}


#dinesandwich #buttons a#help{
position: absolute;
    width: 40px;

}

#dinesandwich #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#dinesandwich.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#dinesandwich #background.textoverlay {
	opacity: 0.1; 
}

#dinesandwich #selection	{
	width: 1280px;
	height: 75px;
	top: -20px;
	left: 40px;
	float: left;
	display: inline-block;
	position: absolute;
}

#dinesandwich #selection #body {
    position: absolute;
    width: 1280px;
	min-height: 60px;
	margin: 225px 0px 0px 0px;
	float: left;
	position: relative;
}

#dinesandwich #selection #body #pages {
	width: 1280px;
}

#dinesandwich #selection #body #pages #submenu {
	width: 1280px;
}

a.item	{
	width: 415px;
	height: 30px;
	font-size: 30px;
	line-height: 60px;
	margin: 25px 0px 0px 8px;
	float: left;
	text-align: left;
	position: relative;
	color: #ffffff;	
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}


a.item.selected {
    background: url(../images/checkmark.png) top left no-repeat;
}

.tabs:active, .tabs	.active {
	background-color: #d36112;
}
