
#dineitems {
	background: url(../images/bk_hires_1242x768_200_dine2.jpg) top center no-repeat;
	
}

#dineitems #banner	{
    position: absolute;
    width: 100%;
    height: 200px;
}

#dineitems #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 5px;
}

#dineitems #banner #course {
	font-size: 36px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 35px 0px 0px 45px;
}

#dineitems #banner p	{
	font-size: 30px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 0px 0px 0px 45px;
}

#dineitems #banner p span	{
	font-size: 27px;
	line-height: 28px;
	color: #ffff66;	
}


#dineitems #nutrientstab {
	background: url(../images/btn_dine_nutrientstab.png) top center no-repeat;
	width: 315px;
	height: 105px;
	margin: 110px 0px 0px 900px;
	position: absolute;
}

#dineitems #nutrientstab #nlabel {
	width: 290px;
	font-size: 22px;
	color: #CCFFFF;
	text-align: right;
	margin-top: 10px;
}

#dineitems #nutrientstab #nutrient {
	width: 290px;
	font-size: 16px;
	line-height: 20px;
	color: #CCFFFF;
	text-align: right;
	
}

#dineitems #nutrientstab #totalcarbs {
	width: 290px;
	font-size: 22px;
	line-height: 28px;
	color: #FFFF66;
	text-align: right;
}

#dineitems #nutrientstab  #maxlabel {
	font-size: 22px;
	line-height: 26px;
	color: #CCFF99;
	float: left;
	margin-left: 25px;
}

#dineitems #nutrientstab #max {
	width: 290px;
	font-size: 22px;
	line-height: 24px;
	color: #CCFF99;
	text-align: right;
}

#dineitems #nutrientstab #itemlabel {
	width: 455px;
	font-size: 24px;
	line-height: 24px;
	color: #CCFFFF;
	text-align: right;
	margin: -48px 0px 0px -572px;
}



#dineitems #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 39px;
	position: absolute;
}

#dineitems #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#dineitems #label	{
	width: 614px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#dineitems #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#dineitems #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#dineitems #selections	{
	width: 770px;
	height: 416px;
	margin: 216px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#dineitems #selections ul {
	list-style-type: none;
}

#dineitems #selections a	{
	width: 717px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 40px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#dineitems #selections p	{
	line-height: 50px;
	position: absolute;
	margin: 10px 0px 0px 100px;
}
#dineitems #selections a.active, #dineitems #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#dineitems #selections a.selected {
    background: url(../images/checkmark.png) top left no-repeat;
}

#dineitems #selections a.selected.active {
    background: url(../images/checkmark.png) top left no-repeat;
	background-color: #d36112;

}


#dineitems #selections .padding {
	width: 550px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 10px 0;
	float: none;
	display: block;
	position: relative;
}

#dineitems #buttons {
	width: 1280px;
	height: 105px;
	margin: 671px 0px 0px 26px;
	position: absolute;
}

#dineitems #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}


#dineitems #buttons a.active, #dineitems #buttons a:active	{
	background-color: #d36112;
}

#dineitems #buttons a#order {
    background: #669900;
	width: 240px;
}

#dineitems #buttons a#back {
    width: 240px;
}

#dineitems #buttons a#view {
    width: 240px;
	margin-left: 120px;
}


#dineitems #buttons a#help{
position: absolute;
    width: 40px;

}




#dineitems #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#dineitems.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#dineitems #background.textoverlay {
	opacity: 0.1; 
}

#dineitems #selection	{
	width: 600px;
	height: 315px;
	top: 205px;
	left: 640px;
	float: left;
	display: inline-block;
	position: absolute;
}

#dineitems #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#dineitems #selection #body	{
	width: 550px;
	height: 200px;
	margin: 45px 0px 0px 125px;
	color: rgba(255,255,255,1.00);
}

#dineitems  #selection #body img.image4 {
width: 305px;
height: 305px;
margin: 5px 0px 0px 122px;
position: absolute;
}

#dineitems #selection #body img.itemimage {
width: 265px;
height: 265px;
margin: 20px 0px 0px 150px;
position: absolute;
}

#dineitems #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#dineitems #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#dineitems #selection #body #nextpage:hover, #dineitems #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#dineitems #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
}

#dineitems #selection #body p.active	{
	display: inherit;
}
	
#dineitems #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#dineitems #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#dineitems #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#dineitems #selection #body ul	{
	width: 625px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#dineitems #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#dineitems #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#dineitems #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#dineitems #selection #body p.middle	{
	margin-top: 200px;
}

#dineitems #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#dineitems #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#dineitems #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#dineitems #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
}

#dineitems #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#dineitems #selection #body p.nomargin	{
	margin-top: 0px;
}

#dineitems #selection #body ul.topmargin,
#dineitems #selection #body p.topmargin	{
	margin-top: 50px;
}

#dineitems #selection #body p.lower	{
	margin-top: 100px;
}

#dineitems #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#dineitems #selection #body p.leftmargin	{
	margin-left: 50px;
}

#dineitems #selection #body p.highlight,
#dineitems #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#dineitems #selection #body p.lightcolor,
#dineitems #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#dineitems #selection #body p.nocolor,
#dineitems #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#dineitems #selection #body p.italic,
#dineitems #selection #body p span.italic	{
	font-style: italic;
}