#dinemeals {
	background: url(../images/bk_hires_1242x768_200_dine1.jpg) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}

#dinemeals  #mask {
	position:absolute;
	width: 200px;
	height: 200px;
	left: 521px;
	top: 284px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 11;
	text-align: center;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#dinemeals #mask #icon {
	position: absolute;
	top: 36px;
	left: 36px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#dinemeals #banner	{
    position: absolute;
    width: 100%;
    height: 200px;
}

#dinemeals #banner #datetime {
    font-size: 28px;
    position: absolute;
    margin: 40px 0px 0px 700px;
	text-align: right;
}

#dinemeals #banner #title {
    font-size: 40px;
    position: relative;
    margin: 70px 0px 0px 45px;
    margin-bottom: 5px;
}

#dinemeals #banner p	{
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
}

#dinemeals #banner p span	{
	font-size: 30px;
	color: #ffff66;
	margin: 0px 0px 0px 45px;
}

#dinemeals #selection	{
    position: absolute;
    height: 348px;
    width: 100%;
    top: 520px;
    text-align: center;
}

#dinemeals #selection p span {
	color: #ffff66;
}

#dinemeals #selection .label	{
    margin-top: 25px;
}

#dinemeals #selection p	{
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	margin-left: 110px;
}

#dinemeals #selection #buttons {
	position: absolute;
    top: 150px;
	left: 180px;
}

#dinemeals #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 60px;
	color: #ffffff;
}

#dinemeals #selections {
    position: absolute;
    top: 220px;
    left: 125px;
    width: 500px;
}

#dinemeals #selections a	{
	width: 450px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	padding-left: 15px;
	margin: 5px 0;
	float: left;
	text-align: center;
	position: relative;
	color: #ffffff;
	background-color: #193c50;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#dinemeals #selections a.highlight	{
	color: #ffff66;
}

#dinemeals #selections a.active, #secondary #selections a:active{
    background-color: #d36112;
}

#dinemeals #hints {
	position: absolute;
    top: 200px;
    left: 700px;
    
}

#dinemeals #hints div {
	width: 475px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	float: left;
	margin: 9px 0;
	text-align: left;
	position: relative;
	color: #ffffff;
}

#dinemeals #hints div.highlight {
	color: #ffff66;
}

#dinemeals #hints div span{
	font-size: 20px;
	margin-left: 10px;
}
