#fallrisk {
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;				
	background: rgba(0,0,0,0.8);
}

#fallrisk #content {
	position: absolute;
	width: 1000px;
	height: 500px;
	top: 60px;
	left: 71px;
	background: url(../images/bk_multiscreen.jpg) left top no-repeat;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 80px 50px 0 50px;
}

#fallrisk #content p {
	font-size: 34px;
	text-align: center;
}

#fallrisk #content #alarm p {
	font-size: 45px;
	color: #ff6;
}

#fallrisk #content #feedback {
	display: none;
	margin-top: 290px;
}

#fallrisk #content .icon {
	width: 128px;
	height: 128px;
	margin: 45px auto;
}

#fallrisk #content #risk .icon {
	background: url(../images/warning.png) left top no-repeat;
}

#fallrisk #content #alarm .icon {
	background: url(../images/stop.png) left top no-repeat;
}

#fallrisk #content #painbuttons{
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 20px 71px;
	padding: 55px 10px;
	height: 315px;
	background: #FFF url(../images/painscale.png) left top no-repeat;
	border-radius: 15px;
	-moz-border-radius: 15px;   
	-webkit-border-radius: 15px;
}

#fallrisk #content #painbuttons a {
    width: 180px;
    height: 290px;
    display: block;
    float: left;
    border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#fallrisk #content #painbuttons a.active {
	width: 170px;
	height: 280px;
	border: 5px #d36112 solid;
	background: transparent;
}

#fallrisk #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	bottom: 135px;
	left: 510px;
	position: absolute;
}

#fallrisk #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center
}

#fallrisk #indicator {
	display: block;
	width: 100px;
	height: 40px;
	float: right;
	right: 95px;
	bottom: 135px;
	border-radius: 20px;
	-moz-border-radius: 20px;   
	-webkit-border-radius: 20px;
	background: #B44141;
	cursor: pointer;
	position: absolute;
}

#fallrisk #indicator.online {
	background: #5CCF5C;
}

#fallrisk #external {
    position: absolute;
    left: 0;
    top: 720px;
    width: 1242px;
    height: 720px;
    background: rgba(0, 0, 0, 0.6);
}

#fallrisk #external.popup {
	top: 0;
}

#fallrisk #externalbuttons {
	margin: 20px 0 0 71px;
	width: 1100px;
	text-align: right;
}

#fallrisk #external iframe {
    width: 1100px;	
    height: 520px;
    margin: 100px 0 0 71px;
    background: #fff;
}