/* intro panel */

#intro {
	background: #1e78af url(../images/bk_hires_intro.jpg) top left no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}

#intro .button {
	background-color: #193c50;
}

#intro #header {
    margin: 75px 0 0 100px;
    text-align: center;
}

#intro #header span {
    color: rgba(233, 225, 68, 1.00);
	
}

#intro #header h1 {
    font-size: 46px;
	
    margin-top: 5px;
}

#intro #header h2 {
    font-size: 38px;
	
}

#intro #content {
    margin: 20px 80px 0 204px;
	
}

#intro #content .row {
    height: 149px;
    border-bottom: solid 1px #ffffff;
}

#intro #content #lang0, #intro #content #lang0 .button {
    color: #ffffff;
}

#intro #content #lang1, #intro #content #lang1 .button {
    color: #ffff99;
}

#intro #content #lang2, #intro #content #lang2 .button {
    color: #c6de8d;
}


#intro #content .row .selection {
    float: left;
    width: 450px;
    height: 100%;
}

#intro #content .row .selection a {
    font-size: 36px;
    padding: 8px 0;
    margin: 40px 0 0 66px;
    text-align: center;
    width: 334px;
	
    display: block;
}

#intro #content .row .description {
    float: left;
	
    width: 465px;
    margin: auto 0;
}

#intro #content .row .description p {
	
}

#intro #content .row .description p.language {
    font-size: 26px;
	
    margin-top: 17px;
}

#intro #content .row .description p.text {
    font-size: 20px;
	
    margin-top: 5px;
}
