/* intro2 panel */

#intro2 {
	background: #1e78af url(../images/bk_hires_intro.jpg) top left no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}

#intro2 .button {
	background-color: #193c50;
}

#intro2 #header {
    margin: 75px 0 0 100px;
    text-align: center;
}

#intro2 #header span {
    color: rgba(233, 225, 68, 1.00);
	
}

#intro2 #header h1 {
    font-size: 46px;
	
    margin-top: 5px;
}

#intro2 #header h2 {
    font-size: 38px;
	
}

#intro2 #content {
    margin: 20px 80px 0 168px;
}

#intro2 #content #agreement {
    font-size: 22px;
    font-weight: normal;
}

#intro2 #content #agreement p, #intro2 #content #agreement li{
    line-height: 1.2;
}

#intro2 #content #agreement ul {
    padding-left: 22px;
}


#intro2 #content #selection {
    float: left;
    width: 100%;
    height: 100%;
}

#intro2 #content #selection a {
    font-size: 36px;
    padding: 8px 0;
    margin: 20px 30px 0 0;
    text-align: center;
    width: 334px;
    display: block;
    float: left;
}
