#languages {
	font-size: 24px;
}

#languages #popup {
	background: #20567d;
	width: 600px;
	height: 280px;
	top: 200px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

#languages #content {
}

#languages #content .color0 {
    color: #ffffff;
}

#languages #content .color1 {
    color: #ffff99;
}

#languages #content .color2 {
    color: #c6de8d;
}

#languages #content #selections {
    float: left;
    width: 240px;
    height: 192px;
    margin: 25px 0 0 5px;
}

#languages #content #selections a {
    background: #193c50;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
    margin: 15px 0px 15px 20px;
    border-radius: 8px;  -moz-border-radius: 8px;  
    -webkit-border-radius: 8px;
}

#languages #content #selections a.active {
	background: #D36112;
	color: #ffffff;
}

#languages #content #body {
    float: left;
    width: 280px;  
    height: 190px;  
    margin: 25px 0 0 40px;
}

#languages #content #body #instruction{
    margin-left: 20px;
	
}

#languages #content #body #instruction p {
    font-size: 24px;  
    height: 40px;
    line-height: 40px;
    margin: 15px 0;
	
}

#languages #content #body .disclaimer{
	display: none;
	margin-top: 18px;
}

#languages #content #body .disclaimer p {
    font-size: 20px;
	
    color: #cccccc;
}

#languages #content #buttons {
    position: absolute;
	
    top: 220px;
    left: 0;
    width: 460px;
    margin: 0 70px;
}

#languages #content #buttons a{
	font-size: 30px;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#languages #content #buttons #cancel{
	
}
