#moviedetail {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_movies.jpg) top center no-repeat;
}

#moviedetail #banner	{
	width: 500px;
	height: 118px;
	top: 62px;
	left: 675px;
	padding: 30px 15px;
	position: absolute;
}

#moviedetail #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: right;
	position: relative;
	text-align: left;
}

#moviedetail #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#moviedetail #breadcrumb {
	width: 340px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#moviedetail #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#moviedetail #label	{
	width: 340px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#moviedetail #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#moviedetail #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#moviedetail #selections	{
	width: 330px;
	height: 336px;
	margin: 270px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#moviedetail #poster {
    background: url(../images/bk_poster.jpg) center center no-repeat;
	background-size: 218px 330px;   
    width: 218px;
    height: 330px;
    display: block;
    margin: 0 57px;
}

#moviedetail #poster img {
	width: 218px;
    height: 330px;
}

#moviedetail #buttons {
	width: 330px;
	height: 120px;
	margin: 600px 0px 0px 26px;
	position: absolute;
}

#moviedetail #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 10px 10px;
	text-align: center;
	position: relative;
	display: block;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#moviedetail #buttons a#resume	{
    display: none;
}

#moviedetail #buttons a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 240px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 45px;
	background-color: #318bc8;
}

#moviedetail #buttons a.active {
	background:#d36112;
}

#moviedetail #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#moviedetail #background.textoverlay {
	opacity: 0.1; 
}

#moviedetail #selection	{
	width: 750px;
	height: 515px;
	top: 205px;
	left: 420px;
	float: left;
	display: inline-block;
	position: absolute;
}

#moviedetail #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#moviedetail #selection #body	{
    margin-top: 30px;
}

#moviedetail #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#moviedetail #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#moviedetail #selection #body #nextpage:hover, #moviedetail #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#moviedetail #selection #body p	{
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	margin: 15px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
}

#moviedetail #selection #body p.active	{
	display: inherit;
}
	
#moviedetail #selection #body p#title {
    font-size: 38px;
	height: 50px;
    display: block;
    text-shadow: 1px 2px 5px #000;
}

#moviedetail #selection #body p#year {
	float: left;
	font-size: 28px;
	font-weight: normal;
}

#moviedetail #selection #body p#length {
	float: left;
	font-size: 28px;
	font-weight: normal;
}

#moviedetail #selection #body p#rating {
	float: left;
	font-size: 28px;
	font-weight: normal;
}

#moviedetail #selection #body p#description {
	
}
