#paincontrol {
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;				
	background: #1e77ae url(../images/bk_hires_1242x768_200_KAISER-WESTSIDE_careboard-leaves.jpg) center top no-repeat;
}

#paincontrol #content {
	margin-top: 80px;
}

#paincontrol #content p {
	font-size: 34px;
	text-align: center;
}

#paincontrol #content #feedback {
	display: none;
	margin-top: 290px;
}

#paincontrol #content #painbuttons{
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 20px 71px;
	padding: 55px 10px;
	height: 315px;
	background: #FFF url(../images/painscale.png) left top no-repeat;
	border-radius: 15px;
	-moz-border-radius: 15px;   
	-webkit-border-radius: 15px;
}

#paincontrol #content #painbuttons a {
    width: 180px;
    height: 290px;
    display: block;
    float: left;
    border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#paincontrol #content #painbuttons a.active {
	width: 170px;
	height: 280px;
	border: 5px #d36112 solid;
	background: transparent;
}

#paincontrol #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	bottom: 50px;
	left: 100px;
	position: absolute;
}

#paincontrol #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center
}

#paincontrol #indicator {
	display: block;
	width: 100px;
	height: 40px;
	float: right;
	right: 70px;
	bottom: 50px;
	border-radius: 20px;
	-moz-border-radius: 20px;   
	-webkit-border-radius: 20px;
	background: #B44141;
	cursor: pointer;
	position: absolute;
}

#paincontrol #indicator.online {
	background: #5CCF5C;
}

#paincontrol #external {
    position: absolute;
    left: 0;
    top: 720px;
    width: 1242px;
    height: 720px;
    background: rgba(0, 0, 0, 0.6);
}

#paincontrol #external.popup {
	top: 0;
}

#paincontrol #externalbuttons {
	margin: 20px 0 0 71px;
	width: 1100px;
	text-align: right;
}

#paincontrol #external iframe {
    width: 1100px;	
    height: 520px;
    margin: 100px 0 0 71px;
    background: #fff;
}