/* primary panel */

#primary {
	background: #000 url(../images/bk_hires_kpsd2.jpg) top center no-repeat;
}

body.theme-srping #primary {
	background: #000 url(../images/bk_hires_kpsd.jpg) top center no-repeat;
}

body.theme-summer #primary {
	background: #000 url(../images/bk_hires_kpsd2.jpg) top center no-repeat;
}

body.theme-fall #primary {
	background: #000 url(../images/bk_hires_kpsd3.jpg) top center no-repeat;
}

body.theme-winter #primary {
	background: #000 url(../images/bk_hires_kpsd4.jpg) top center no-repeat;
}

#primary #controls {
	position: absolute;
	bottom: 0;
	right: 10px;
	width: 240px;
	height: 30px;	
}

#primary #controls a {
	display: block;
	width: 48px;
	height: 30px;
	float: left;
	opacity: 1.0;
}

#primary #controls a#theme-spring {
	background: #3B6281;	
}

#primary #controls a#theme-summer {
	background: #3C1055;	
}

#primary #controls a#theme-fall {
	background: #94691b;	
}

#primary #controls a#theme-winter {
	background: #2B8515;	
}

#primary #controls a#nightmode {
	width: 48px;
	height: 48px;
	margin-top: -18px;
	background: url(../images/nightmode.png) -48px 0 no-repeat;
}

#primary #nightmode.on {
	background-position: 0 0;
}

#primary #revision {
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 10px;
	color: #A8A8A8;
}

#primary #header {
	width: 100%;
	height: 215px;
	position: absolute;
}

#primary #header #patient	{
	width: 465px;
	height: 150px;
	float: left;
	margin: 60px 0px 0px 400px;
	position: absolute;
	display: inline-block;
	
	/*border: 1px blue solid;*/
}

#primary #header #patient p	{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

#primary #header #patient p span {
	margin: 0;
} 

#primary #header #patient p.welcome	{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

#primary #header #patient p.name	{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

#primary #header #patient p.location	{ 
	line-height: 28px;
	font-size: 24px;
	text-align: left;
	color: rgba(32,86,125,1.00);
}

#primary #header #patient p.phone	{ 
	line-height: 28px;
	font-size: 24px;
	text-align: left;
	color: rgba(32,86,125,1.00);
}

#primary #header #datetime	{
	width: 465px;
	height: 28px;
	float: left;
	margin: 182px 0px 0px 400px;
	position: absolute;
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}

#primary #header #streaming	{
	width: 328px;
	height: 185px;
	float: left;
	margin: 25px 0px 0px 862px;
	position: absolute;
	display: inline-block;  
}

#primary #header #streaming #slideshow {
	position:relative; 
	width: 328px; 
	height: 185px;
	overflow: hidden;
}

#primary #header #streaming #slideshow img { 
	position:absolute; 
	left:0; 
	top:0; 
}

#primary #buttons {
	width: 100px;
	height: 610px;
	margin: 110px 0px 0px 10px;
	position: absolute;
	
	/*border: 1px blue solid;*/
}

#primary #buttons a {
	width: 100px;
	height: 98px;
	margin: 0px 0px 15px 0px;
	cursor: pointer;
	position: relative;
	float: left;
	font-size: 12px;
	line-height: 170px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(32,86,125,1.00);	
	display: inline-block;
}

#primary #buttons a#nav-leafmail {
	background: url(../images/kpnw_leaf.png) top center no-repeat;
	color: rgba(255,255,255,1.00);	
	height: 110px;
}

#primary #buttons a#nav-leafmail.active {
	background: url(../images/kpnw_leaf-dn.png) top center no-repeat;
	color: rgba(255,255,255,1.00);	
	height: 110px;
}

#primary #buttons a#nav-watchtv {
	background: url(../images/icon_kpws_tv.png) top center no-repeat;
	margin-top: 20px;
}

#primary #buttons a#nav-watchtv.active, #primary #buttons a#nav-watchtv:active {
	background: url(../images/icon_kpws_tv-dn.png) top center no-repeat;
}

#primary #buttons a#nav-internet {
	background: url(../images/icon_kpws_int.png) top center no-repeat;
}

#primary #buttons a#nav-internet.active, #primary #buttons a#nav-internet:active {
	background: url(../images/icon_kpws_int-dn.png) top center no-repeat;
}

#primary #buttons a#nav-phone {
	background: url(../images/icon_kpws_phone.png) top center no-repeat;
}

#primary #buttons a#nav-phone.active, #primary #buttons a#nav-phone:active {
	background: url(../images/icon_kpws_phone-dn.png) top center no-repeat;
}

#primary #buttons a#nav-careboard {
	background: url(../images/icon_kpws_eboard.png) top center no-repeat;
}

#primary #buttons a#nav-careboard.active, #primary #buttons a#nav-careboard:active {
	background: url(../images/icon_kpws_eboard-dn.png) top center no-repeat;
}

#primary #buttons a#nav-languages {
	background: url(../images/icon_kpws_langs.png) top center no-repeat;
}

#primary #buttons a#nav-languages.active, #primary #buttons a#nav-languages:active {
	background: url(../images/icon_kpws_langs-dn.png) top center no-repeat;
}

#primary #buttons a#nav-home {
	background: url(../images/icon_home.png) top center no-repeat;
	display: none;
}

#primary #buttons a#nav-home.active, #primary #buttons a#nav-home:active {
	background: url(../images/icon_home-dn.png) top center no-repeat;
	display: none;
}

#primary #buttons a.leafmail:active {
	background: url(../images/kpnw_leaf-hi.png) top center no-repeat;
	color: rgba(211,97,18,1.00);	
}

#primary #buttons a.watchtv:active {
	background: url(../images/icon_kpws_tv-dn.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #buttons a.internet:active {
	background: url(../images/icon_kpws_int-dn.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #buttons a.phone:active {
	background: url(../images/icon_kpws_phone-dn.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #buttons a.careboard:active {
	background: url(../images/icon_kpws_eboard-dn.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #buttons a.languages:active {
	background: url(../images/icon_kpws_langs-dn.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #buttons a.home:active {
	background: url(../images/icon_home_orange.png) top center no-repeat;
	color: rgba(211,97,18,1.00);
}

#primary #navigation {
	width: 1220px;
	height: 495px;
	margin: 220px 0px 0px 0px;
	position: absolute;
	
	/*border: 1px blue solid;*/
}

#primary #navigation #menubar	{
	width: 1220px;
	height: 61px;
	border: none;
	padding: 0;
	margin: 0px  0px 0px 11px;
	position: relative;
	
	/*border: 1px red solid;*/
}

#primary #navigation #menubar a	{
	width: 244px;
	height: 56px;
	border: 0px;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	font-size: 30px;
	line-height: 54px;
	font-weight: bold;
	color: rgba(255,255,255,1.00);	
	text-align: center;
	letter-spacing: 3px;
	cursor: pointer;
	position: relative;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;		
	
	/*border: 1px blue solid;*/
}

#primary #navigation #menubar a.selected 	{
	background: #318BC8;
}

#primary #navigation #menubar a#thrive	{
	width: 235px;
}

#primary #navigation #menubar a#learn	{
	width: 277px;
}

#primary #navigation #menubar a#visit	{
	width: 277px;
}

#primary #navigation #menubar a#fun	{
	width: 196px;
}

#primary #navigation #menubar a#relax	{
	width: 235px;
}

#primary #navigation #menus	{
	height: 430px;
	margin: 5px 0px 0px 11px;
	display: inline-block;
	position: relative;
	
	/*border: 1px white solid;*/
}

#primary #navigation #menus.es, #primary #navigation #menus.vi	{
	height: 480px;
	margin: 5px 0px 0px 5px;
	display: inline-block;
	position: relative;
	
	/*border: 1px white solid;*/
}

#primary #navigation #menus .menu	{
	background: rgba(32,86,125,0.75);
	width: 244px;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	position: relative;
	display: none;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;	
	
	/*border: 1px red solid;*/
}

#primary #navigation #menus #thrive	{
	margin-left: 0px;
	width: 235px;
}

#primary #navigation #menus.es #thrive, #primary #navigation #menus.vi #thrive	{
	margin-left: 0px;
	width: 285px;
}

#primary #navigation #menus #learn	{
	margin-left: 235px;
	width: 277px;
}


#primary #navigation #menus.es #learn {
	margin-left: 235px;
	width: 307px;
}

#primary #navigation #menus.vi #learn	{
	margin-left: 235px;
	width: 337px;
}

#primary #navigation #menus #visit	{
	margin-left: 512px;
	width: 277px;
}

#primary #navigation #menus.es #visit, #primary #navigation #menus.vi #visit	{
	margin-left: 512px;
	width: 350px;
}

#primary #navigation #menus #fun	{
	margin-left: 789px;
	width: 196px;
}

#primary #navigation #menus.es #fun	{
	margin-left: 789px;
	width: 225px;
}

#primary #navigation #menus #relax	{
	margin-left: 985px;
	width: 235px;
}
#primary #navigation #menus.es #relax	{
	margin-left: 955px;
	width: 265px;
}

#primary #navigation #menus.vi #relax	{
	margin-left: 875px;
	width: 345px;
}


#primary #navigation #menus .menu a	{
	color: rgba(255,255,255,1.00);
	height: 46px;
	font-size: 26px;
	line-height: 46px;
	text-align: left;	
	cursor: pointer;
	position: relative;
	display: block;
    padding-left: 10px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;	
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;	
}

#primary #navigation #menus .menu a#communitysupport	{
    letter-spacing: -2px;
}

#primary #navigation #menus .menu a#allprograms	{
    color: #ffff66;
}

#primary #navigation #menus .menu a:active		{
	background: rgba(211,97,18,1.00);
}

#primary #navigation #menus .menu a.active		{
	background: rgba(211,97,18,1.00);
}

#primary #navigation #menus #thrive a	{
	width: 225px;
}

#primary #navigation #menus.es #thrive a {
	width: 275px;
}

#primary #navigation #menus.vi #thrive a	{
	width: 295px;
}


#primary #navigation #menus #learn a	{
	width: 267px;
}

#primary #navigation #menus.es #learn a {
	width: 297px;
}

#primary #navigation #menus.vi #learn a	{
	width: 327px;
}


#primary #navigation #menus #visit a	{
	width: 267px;
}

#primary #navigation #menus.es #visit a, #primary #navigation #menus.vi #visit a	{
	width: 340px;
}

#primary #navigation #menus #fun a	{
	width: 186px;
}

#primary #navigation #menus #relax a	{
	width: 225px;
}

#primary #navigation #menus.es #relax a	{
	width: 275px;
}

#primary #navigation #menus.vi #relax a	{
	width: 345px;
}


/* phone popup */

#primary #phone {
	background: url(../images/popup_phone.png) top center no-repeat;
	width: 422px;
	height: 216px;
	margin: 370px 0px 0px 108px;
	display: none;
	position: absolute;
	z-index: 502;
}

#primary #phone #keypad	{
	width: 160px;
	height: 190px;
	margin: 12px 0px 0px 30px;
	float: left;
	position: relative;
}

#primary #phone #keypad a	{
	background: rgba(200,200,200,1.00);
	width: 40px;
	height: 40px;
	margin: 4px;
	float: left;
	font-size: 32px;
	line-height: 40px;
	color: rgba(0,0,0,1.00);	
	text-align: center;
	cursor: pointer;
	position: relative;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;		
}

#primary #phone #keypad a.call	{
	width: 88px;
	font-size: 28px;
	color: rgba(104,180,45,1.00);
}

#primary #phone #keypad a:active	{
	background: rgba(255,255,255,0.90);
}

#primary #phone #instruction	{
	width: 210px;
	height: 190px;
	margin: 12px 0px 0px 0px;
	float: left;
	position: relative;
}

#primary #phone #instruction p	{
	font-size: 22px;
	line-height: 24px;
	margin: 0px 20px 0px 20px;
	float: left;
	text-align: left;
	color: rgba(200,200,200,1.00);
}

#primary #phone #instruction a	{
	background: rgba(52,106,145,1.00);
	border-top: 1px rgba(255,255,255,0.75) solid;
	border-left: 1px rgba(255,255,255,0.75) solid;
	border-bottom: 1px rgba(50,50,50,0.75) solid;
	border-right: 1px rgba(50,50,50,0.75) solid;
	width: 100px;
	height: 24px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	margin: 10px 20px 0px 55px;
	float: left;
	text-align: center;
	color: rgba(255,255,255,1.00);
	-moz-box-shadow:2px 2px 2px #343434;
	-webkit-box-shadow:2px 2px 2px #343434;
}

#primary #phone #instruction a:active	{
	border: 1px solid rgba(50,50,50,0.75);
	-moz-box-shadow:0px 0px 0px #232323;
	-webkit-box-shadow:0px 0px 0px #232323;
}

#primary #phone #instruction p.translation	{
	width: 198px;
	height: 48px;
	padding: 6px;
	background: rgba(89,179,240,0.70);
	font-size: 14px;
	line-height: 14px;
	margin: 48px 0px 0px 0px;
	float: left;
	text-align: right;
	color: rgba(0,0,0,1.00);
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;		
}

#primary #phone #instruction a.translation	{
	background: rgba(52,106,145,1.00);
	border-top: 1px white solid;
	border-left: 1px white solid;
	width: 175px;
	height: 24px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	margin: 3px 0px 0px 10px;
	float: left;
	text-align: center;
	color: rgba(255,255,255,1.00);
	-moz-box-shadow:2px 2px 2px #232323;
	-webkit-box-shadow:2px 2px 2px #232323;
}

#primary #phone #instruction a.translation:active	{
	border: 1px solid rgba(50,50,50,0.75);
	-moz-box-shadow:0px 0px 0px #232323;
	-webkit-box-shadow:0px 0px 0px #232323;
}


/* languages popup */

#primary #languages {
	background: url(../images/popup_lang.png) top center no-repeat;
	width: 422px;
	height: 188px;
	margin: 510px 0px 0px 108px;
	display: none;
	position: absolute;
	z-index: 502;
}

#primary #languages #language	{
	width: 200px;
	height: 125px;
	margin: 12px 0px 0px 28px;
	float: left;
	position: relative;
}

#primary #languages #language p	{
	width: 100%;
	font-size: 22px;
	line-height: 26px;
	float: left;
	text-align: center;
	color: rgba(200,200,200,1.00);
}

#primary #languages #language a	{
	width: 155px;
	height: 32px;
	cursor: pointer;
	font-size: 28px;
	line-height: 32px;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 15px;
	float: left;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#primary #languages #language a:active	{
	background: rgba(211,97,18,1.00);
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}

#primary #languages #translate	{
	width: 200px;
	height: 40px;
	margin: 0px 0px 0px 28px;
	float: left;
	position: relative;
}

#primary #languages #translate a	{
	background: rgba(52,106,145,1.00);
	border-top: 1px white solid;
	border-left: 1px white solid;
	width: 140px;
	height: 24px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0px 0px 25px;
	padding: 0px 0px 0px 0px;
	float: left;
	text-align: center;
	color: rgba(255,255,255,1.00);
	-moz-box-shadow:2px 2px 2px #232323;
	-webkit-box-shadow:2px 2px 2px #232323;
}

#primary #languages #translate a:active	{
	border: 1px solid rgba(50,50,50,0.75);
	-moz-box-shadow:0px 0px 0px #232323;
	-webkit-box-shadow:0px 0px 0px #232323;
}

#primary #languages #translation	{
	width: 165px;
	height: 165px;
	margin: 12px 16px 0px 0px;
	float: right;
	position: relative;
}

#primary #languages #translation p	{
	width: 100%;
	height: 115px;
	font-size: 16px;
	line-height: 16px;
	margin: 10px 0px 0px 0px;
	float: left;
	text-align: right;
	color: rgba(255,255,255,1.00);
}

#primary #languages #translation a	{
	background: rgba(52,106,145,1.00);
	border-top: 1px white solid;
	border-left: 1px white solid;
	width: 100px;
	height: 24px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0px 0px 30px;
	float: left;
	text-align: center;
	color: rgba(255,255,255,1.00);
	-moz-box-shadow:2px 2px 2px #232323;
	-webkit-box-shadow:2px 2px 2px #232323;
}

#primary #languages #translation a:active	{
	border: 1px solid rgba(50,50,50,0.75);
	-moz-box-shadow:0px 0px 0px #232323;
	-webkit-box-shadow:0px 0px 0px #232323;
}

/**
 * this will rotate the LG tv... wooohoo!
 */
#primary-wrapper222{
 transform: rotate(90deg); /* CSS 3 */
 -moz-transform: rotate(90deg);  /* FF3.5+ */
 -o-transform: rotate(90deg);  /* Opera 10.5 */
 -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
 width: 1080px;
 height: 1920px;
 top: -343px;
 left: -240px;
 margin: 0;
 overflow: hidden;
}
