#programdetail {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_myprograms2.jpg) top center no-repeat;
}

#programdetail #banner	{
	width: 500px;
	height: 118px;
	top: 62px;
	left: 675px;
	padding: 30px 15px;
	position: absolute;
}

#programdetail #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: right;
	position: relative;
	text-align: left;
}

#programdetail #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#programdetail #breadcrumb {
	width: 340px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#programdetail #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#programdetail #label	{
	width: 340px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#programdetail #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#programdetail #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#programdetail #selections	{
	width: 330px;
	height: 440px;
	margin: 280px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#programdetail #selections p {
    color: #ffffff;
    margin: 0 0 20px 20px;
}

#programdetail #selections p.title {
    font-size: 36px;
    width: 300px;
    white-space: normal;
}

#programdetail #selections p.duration {
    font-size: 28px;
}

#programdetail #selections ul {
	list-style-type: none;
}

#programdetail #selections a	{
	width: 310px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 20px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#programdetail #selections a.active, #programdetail #selections a:active	{
	background-color: #d36112;
}

#programdetail #selections .padding {
	width: 580px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}

#programdetail #buttons {
	width: 330px;
	height: 170px;
	margin: 550px 0px 0px 26px;
	position: absolute;
}

#programdetail #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 10px 10px;
	text-align: center;
	position: relative;
	display: block;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#programdetail #buttons a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 240px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 45px;
	background-color: #318bc8;
}


#programdetail #buttons a.active {
	background:#d36112;
}

#programdetail #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#programdetail #background.textoverlay {
	opacity: 0.1; 
}

#programdetail #selection	{
	width: 730px;
	height: 515px;
	top: 205px;
	left: 430px;
	float: left;
	display: inline-block;
	position: absolute;
}

#programdetail #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#programdetail #selection #description	{
	position: absolute;
	top: 75px;
	width: 100%;
	height: 160px;
	margin-bottom: 50px;
	font-size: 36px;
	color: #ffffff;
	text-shadow: 1px 1px 5px #000000;
}
	
#programdetail #selection #body	{
	position: absolute;
	width: 100%;
	height: 176px;
	top: 270px;
	color: rgba(255,255,255,1.00);
}

#programdetail #selection #body p	{
	min-height: 42px;
	font-size: 26px;
	line-height: 42px;
	float: left;
	text-align: left;
	margin: 10px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
}


