#qty {
	background: url(../images/dine_qty-window.png) center top no-repeat;
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 240px 0px 0px 450px;
	padding: 0;				
}

#qty #itemqty {
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin:95px 0px 0px 556px;
	padding: 2px 0;
	position: absolute;

}

#qty #content {
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;
	padding: 2px 0;
	position: absolute;
}

#qty  #text1 {
	width: 100px;
	font-size: 20px;
	font-weight: normal;
	color: #ffffcc;
	text-align: left;
	margin:31px 0px 0px 643px;
	
}


#qty #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align:center;
	position: absolute;
	margin-top: -50px;
}



#qty #buttons a {

    width: 200px;
    display: block;
    float: left;
    text-align: center;
	position: absolute;
	
}

.up {	
	margin: 55px 0px 0px 465px;
	text-decoration: none;	
}

.down {	
	margin: 208px 0px 0px 465px;
	text-decoration: none;
}

.close {	
	margin: 270px 0px 0px 517px;
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	
}

.remove {	
	margin: 315px 0px 0px 517px;
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;

}


